{{#if this.displayBanner}}
  <div class="warning-banner">
    {{#if this.isStagingBannerEnabled}}
      <a class="warning-banner__staging-text" href="https://app.pix.fr">
        <FaIcon @icon="exclamation-triangle"></FaIcon>
        Cette plateforme est destinée aux tests internes à Pix. Vos pix ne sont pas comptabilisés.
        <br><span class="warning-banner__staging-text--underline">Allez sur le site Pix.</span>
      </a>
    {{/if}}
    {{#if this.isProdProblemBannerEnabled}}
      <div class="warning-banner__prod-problem-text">
        <FaIcon @icon="exclamation-triangle"></FaIcon>
        Nous rencontrons actuellement des ralentissements sur la plateforme pouvant affecter certains utilisateurs, <br/>
        mais pas de panix, nos équipes sont sur le coup !
      </div>
    {{/if}}
  </div>
{{/if}}
